* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

.body-container {
  padding: 10px;
}
