.container-cart {
  background-color: white;
  min-height: 100vh;
  padding-top: 130px;
  padding-bottom: 10px;
}
.container_inner {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.cart-products {
  width: 100%;
  max-height: 380px;
  overflow-y: scroll;
}
.container-cart table {
  max-width: 1170px;
  width: 100%;
}
.container-cart table tr {
  margin: 10px 0;
  display: flex;
  width: 100%;
  flex-direction: row;
}
.container-cart table tr:hover {
  margin: 10px 0;
  background-color: antiquewhite;
}
.product-lists td {
  width: 20%;
  text-align: center;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-lists td.table-right {
  text-align: right;
  width: 5%;
  border-radius: 0px 10px 10px 0px;
}
.product-lists td.table-left {
  width: 50%;
  border-radius: 10px 0 0 10px;
  max-width: 390px;
}
tbody td.table-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
tbody td.table-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 5%;
}
.cart-product_image {
  min-width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 25px;
  border-radius: 10px;
}
.product-quantity {
  display: flex;
  height: 30px;
}
.product-quantity button {
  outline: none;
  width: 25px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.product-quantity button[disabled] {
  cursor: auto;
  background-color: #dcdcdc;
}
.product-quantity button[disabled]:hover {
  cursor: auto;
  background-color: #dcdcdc;
}
.product-quantity button:hover {
  background-color: #6d5483;
  color: white;
}
.product-quantity div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
}

.product-quantity * {
  height: 100%;
}
.cart-block-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin: 20px 0;
}
.btn-product_remove {
  width: 32px;
  height: 32px;
  background-image: url(../../../assets/icons/cart-cancel.png);
  transition: all 0.2s;
}
.td-price{
  display: flex;
  flex-direction: column;
}
.td-price * {
  color: #000;
  font-size: 18px;
  margin: 0;
}
.td-price .base-price{
  color: #000;
}
.td-price .discount-price{
  color: red;
}

.td-price .discountCode-price{
  color: blueviolet;
  position: relative;
}
.td-price .discountCode-price::after{
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../../../assets/icons/discount-label.png);
  position: absolute;
  right: -28px;
  top: 5px;
}
.td-price .price-none,
.cart-total li.price-none{
  display: none;
}
.td-price .price-inactive{
  text-decoration: line-through;
  opacity: .5;
  font-size: 14px;
}
.btn-product_remove:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.clear-cart_btn,
.go-to-offers_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 48px;
  height: 56px;
  color: white;
  cursor: pointer;
  text-align: center;
  background-color: rebeccapurple;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.cart-empty {
  margin: 0 auto;
}
.cart-empty_images {
  background: url(../../../assets/images/cartSvg.svg);
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
}
.cart-option {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.cart-option .discount {
  display: flex;
  justify-content: space-between;
  max-width: 527px;
  width: 100%;
  margin-bottom: 15px;
}
.discount input {
  width: 60%;
  height: 56px;
  /* height: 35px; */
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}
.discount div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 48px;
  /* width: 30%; */
  height: 56px;
  color: white;
  cursor: pointer;
  text-align: center;
  background-color: rebeccapurple;
  border-radius: 10px;
}

.cart-total {
  max-width: 470px;
  width: 100%;
  border-radius: 4px;
  border: 1.5px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 32px 24px;
}

.cart-total h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 24px;
}
.cart-total ul {
  margin-bottom: 16px;
}
.cart-total li {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid gray;
}
.discount-items {
  display: flex;
}
.discount-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  line-height: 32px;
  padding-left: 16px;
  padding-right: 4px;
  border: 1px solid #d2d2d2;
  border-radius: 50px;
  font-size: 14px;
  white-space: nowrap;
  color: #333;
  transition: all 0.2s ease-in-out;
}
.discount-item:hover {
  background-color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
}
.discount-item span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 4px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-weight: 700;
}
.process-to-checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  padding: 16px 48px;
  color: white;
  cursor: pointer;
  background-color: blueviolet;
}
.popup {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.popup-content {
  position: relative;
  width: 280px;
  height: 150px;
  background-color: #6d5483;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-content p {
  color: white;
}

.popup button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
