.container-cart {
  background-color: white;
  min-height: 100vh;
  padding-top: 130px;
  padding-bottom: 20px;
}
.container_inner {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.cart-products {
  width: 100%;
}
.container-cart .products-list {
  max-width: 1170px;
  width: 100%;
}
.container-cart .products-list li {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
}
.title-list {
    font-size: 17px;
}
.block-one {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.block-two {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-cart .products-list li div {
  display: flex;
}
.container-cart li:not(:first-child):hover {
  background-color: antiquewhite;
}
.product-data {
  width: 100%;
  align-items: center;
}

.product-data_image {
  min-width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 25px;
  border-radius: 10px;
}
.product-data_name {
  font-size: 18px;
}
.product-price {
  display: flex;
  flex-direction: column;
}

.product-price *,
.product-subtotal {
  color: #000;
  font-size: 18px;
  margin: 0;
}
.product-price .base-price {
  color: #000;
}
.product-price .discount-price {
  color: red;
}

.product-price .discountCode-price {
  color: blueviolet;
  position: relative;
}
.product-price .discountCode-price::after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../../../assets/icons/discount-label.png);
  position: absolute;
  right: -28px;
  top: 5px;
}
.product-price .price-none,
.cart-total li.price-none {
  display: none;
}
.product-price .price-inactive {
  text-decoration: line-through;
  opacity: 0.5;
  font-size: 14px;
}
.product-quantity {
  display: flex;
  height: 30px;
}
.product-quantity button {
  outline: none;
  width: 25px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.product-quantity button[disabled] {
  cursor: auto;
  background-color: #dcdcdc;
}
.product-quantity button[disabled]:hover {
  cursor: auto;
  background-color: #dcdcdc;
}
.product-quantity button:hover {
  background-color: #6d5483;
  color: white;
}
.product-quantity div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
}

.product-quantity * {
  height: 100%;
}

.cart-block-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin: 20px 0;
}
.btn-product_remove {
  width: 32px;
  height: 32px;
  min-width: 32px;
  background-image: url(../../../assets/icons/cart-cancel.png);
  background-position: center center;
  transition: all 0.2s;
}

.btn-product_remove:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.clear-cart_btn,
.go-to-offers_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 48px;
  height: 56px;
  color: white;
  cursor: pointer;
  text-align: center;
  background-color: rebeccapurple;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.cart-line-item {
  cursor: pointer;
}

.clear-cart_btn:hover,
.go-to-offers_btn:hover,
.add-coupon:hover,
.process-to-checkout:hover {
  background-color:#512673;
}

.cart-empty {
  margin: 0 auto;
}
.cart-empty_images {
  background: url(../../../assets/images/cartSvg.svg);
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
}
.cart-option {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.cart-option .discount {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin-bottom: 15px;
}
.discount input {
  width: 60%;
  height: 56px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}
.discount div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 48px;
  height: 56px;
  color: white;
  cursor: pointer;
  text-align: center;
  background-color: rebeccapurple;
  border-radius: 10px;
}

.cart-total {
  width: 40%;
  border-radius: 4px;
  border: 1.5px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 14px 20px;
  background-color:#f3f0f0;
}

.cart-total h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 24px;
}
.cart-total ul {
  margin-bottom: 16px;
}
.cart-total li {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid gray;
}
.discount-items {
  display: flex;
}
.discount-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  line-height: 32px;
  padding-left: 16px;
  padding-right: 4px;
  border: 1px solid #d2d2d2;
  border-radius: 50px;
  font-size: 14px;
  white-space: nowrap;
  color: #333;
  transition: all 0.2s ease-in-out;
  background-color:rgb(195, 141, 246);
  color: white;
}
.discount-item:hover {
  background-color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
}
.discount-item span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 4px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-weight: 700;
}
.process-to-checkout {
  display: flex;
  max-width: 280px;
  align-items: center;
  justify-content: center;
  margin: 16px auto;
  padding: 16px 48px;
  color: white;
  cursor: pointer;
  background-color: blueviolet;
  border-radius: 10px;
}
.popup {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.popup-content {
  position: relative;
  width: 280px;
  height: 150px;
  background-color: #6d5483;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-content p {
  color: white;
}

.popup button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.save-line {
  background-color:#f1d2e8;
}
.discount-line {
  background-color:#f1f1d2;
}

.cart-total ul li {
  padding: 15px;
}

@media (max-width: 1115px) {
  .cart-option {
    flex-direction: column;
  }
  .cart-option .discount {
    width: 100%;
  }
  .cart-total {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .container-cart .products-list li.title-list {
    display: none;
  }
  .container-cart .products-list li {
    flex-direction: column;
  }
  .block-one,
  .block-two {
    width: 100%;
  }
  .product-data {
    flex-direction: column;
  }

  .product-data_image {
    width: 100%;
    height: 450px;
    margin-right: 0;
    background-size: cover;
    margin-bottom: 15px;
  }
  .product-data_name {
    font-size: 35px;
    margin-bottom: 15px;
    text-align: center;
  }
  .product-lists td {
    width: 50%;
  }
}
