/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face {
  font-family: 'Beyond';
  src: url('../../../assets/fonts/beyond_the_mountains.otf') format('truetype'),
    url('../../../assets/fonts/beyond_the_mountains.otf') format('opentype');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../../../assets/fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.eot')
      format('embedded-opentype'),
    url('../../../assets/fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2')
      format('woff2'),
    url('../../../assets/fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.woff')
      format('woff'),
    url('../../../assets/fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*********************************
2. Body and some general stuff
*********************************/

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #ffffff;
  color: #a5a5a5;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 0;
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border-style: none;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
}

.container-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container-main {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-main {
    max-width: 960px;
  }
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

ul {
  list-style: none;
  margin-bottom: 0px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
  color: #929191;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 1px #ffa07f;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

p a:active {
  position: relative;
  color: #ff6347;
}

p a:hover {
  color: #ffffff;
  background: #ffa07f;
}

p a:hover::after {
  opacity: 0.2;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.body-container {
  width: 100%;
  /* overflow: hidden; */
}

.home_slider_button {
  display: inline-block;
  height: 53px;
  border-radius: 27px;
  overflow: hidden;
  margin-top: 70px;
}

@media only screen and (max-width: 991px) {
  .home_slider_button {
    margin-top: 58px;
  }
}

@media only screen and (max-width: 575px) {
  .home_slider_button {
    margin-top: 45px;
    height: 44px;
    border-radius: 22px;
  }
}

.button_bcg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
  z-index: -1;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.button:hover .button_bcg {
  left: -100%;
}

.home_slider_button a {
  display: block;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 53px;
  padding-left: 46px;
  padding-right: 46px;
  white-space: nowrap;
  z-index: 2;
}

@media only screen and (max-width: 575px) {
  .home_slider_button a {
    line-height: 44px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

.button span {
  display: inline-block;
  vertical-align: middle;
  width: 5.75px;
  height: 5.63px;
  background: #ffffff;
  border-radius: 50%;
  margin-right: 2px;
}

.button span:first-child {
  margin-left: 10px;
}

.button span:nth-child(2) {
  opacity: 0.6;
}

.button span:last-child {
  opacity: 0.4;
  margin-right: 0px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-pinterest:before {
  content: '\f0d2';
}

.fa-pinterest-square:before {
  content: '\f0d3';
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: '\f09a';
}

.fa-twitter:before {
  content: '\f099';
}

.fa-dribbble:before {
  content: '\f17d';
}

.fa-behance:before {
  content: '\f1b4';
}

.fa-behance-square:before {
  content: '\f1b5';
}

.fa-linkedin:before {
  content: '\f0e1';
}

/*********************************
3. Header
*********************************/

.header {
  position: fixed;
  width: 100%;
  background: rgba(54, 19, 84, 0.6);
  z-index: 12;
}

.header.scrolled {
  background: rgba(54, 19, 84, 0.85);
}

/*********************************
3.1 Top Bar
*********************************/

.top_bar {
  width: 100%;
  height: 36px;
  background: #350a4e;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.header.scrolled .top_bar {
  visibility: hidden;
  opacity: 0;
  height: 0px;
}

.phone {
  display: inline-block;
  margin-right: 36px;
  line-height: 36px;
  font-size: 10px;
  font-weight: 600;
  color: #ffffff;
}

.social_list_item {
  position: relative;
  display: inline-block;
  margin-right: 3px;
}

.social_list_item:last-child {
  margin-right: 0px;
}

.social_list_item a {
  display: block;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 36px;
}

.social_list_item:hover a i {
  color: #fa9e1c;
}

.social_list_item a i {
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social_list_item a:hover {
  color: #ffffff;
}

.user_box_link {
  display: inline-block;
}

.user_box_link a {
  display: block;
  font-size: 10px;
  line-height: 36px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.user_box_link a:hover {
  color: #fa9e1c;
}

.user_box_login {
  margin-right: 15px;
}

.user_box_login::after {
  display: block;
  position: absolute;
  top: 15px;
  right: -9px;
  background: #ffffff;
  width: 1px;
  height: 9px;
  content: '';
}

@media only screen and (max-width: 575px) {
  .phone,
  .social {
    display: none;
  }
  .top_bar {
    background: none;
  }
}

.main_nav_col {
  height: 80px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

@media only screen and (max-width: 575px) {
  .main_nav_col {
    height: 60px;
  }
}

.header.scrolled .main_nav_col {
  height: 100px;
}

/*********************************
3.2 Logo
*********************************/

.logo_container {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}

@media only screen and (max-width: 575px) {
  .logo_container {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

.header.scrolled .logo_container {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.logo a {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #f4f4f8;
  font-weight: 800;
  text-transform: uppercase;
}

@media only screen and (max-width: 630px) {
  .logo a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  .logo a {
    display: none;
  }
}

.logo a img {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 9px;
  width: 80px;
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}

@media only screen and (max-width: 575px) {
  .logo a img {
    width: 50px;
    margin-right: 7px;
  }
}

/*********************************
3.3 Main Nav
*********************************/

.main_nav_container {
  margin-right: 151px;
  margin-left: auto;
}

@media only screen and (max-width: 1199px) {
  .main_nav_container {
    margin-right: 100px;
  }
}

@media only screen and (max-width: 991px) {
  .main_nav_container {
    margin-right: 20px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 520px) {
  .main_nav_container {
    font-size: 5px;
    margin: 0 auto;
  }
}

.main_nav_item {
  position: relative;
  display: inline-block;
  margin-right: 40px;
}

.main_nav_item:last-child {
  margin-right: 0px;
}

.main_nav_item a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media only screen and (max-width: 991px) {
  .main_nav_item a {
    font-size: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .main_nav_item {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 520px) {
  .main_nav_item {
    margin-right: 7px;
  }
}

.main_nav_item::after {
  display: block;
  position: absolute;
  left: -1px;
  bottom: -11px;
  width: calc(100% + 2px);
  height: 2px;
  background: linear-gradient(to right, #fa9e1b, #8d4fff);
  content: '';
  opacity: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.main_nav_item:hover::after {
  opacity: 1;
}

/*********************************
4. Home
*********************************/

.home {
  width: 100%;
  height: 100vh;
}

/*********************************
4.1 Home Slider
*********************************/

.home_slider_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #31124b;
}

.home_slider {
  width: 100%;
  height: 100%;
}
.home_slider_item {
  width: 100%;
  height: 100%;
}

.home_slider_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.5;
}

.home_slider_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 11;
}

.home_slider_content h1 {
  margin-bottom: 0px;
}

.home_slider_content h1:first-child {
  font-size: 112px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
  .home_slider_content h1:first-child {
    font-size: 72px;
  }
}

@media only screen and (max-width: 575px) {
  .home_slider_content h1:first-child {
    font-size: 48px;
  }
}

.home_slider_content h1:nth-child(2) {
  font-family: 'Beyond';
  font-size: 100px;
  color: #ffffff;
  margin-top: -34px;
}

@media only screen and (max-width: 991px) {
  .home_slider_content h1:nth-child(2) {
    font-size: 60px;
    margin-top: -18px;
  }
}

@media only screen and (max-width: 575px) {
  .home_slider_content h1:nth-child(2) {
    font-size: 43px;
    margin-top: -12px;
  }
}

.flipInX {
  animation-delay: 600ms;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  width: 100%;
  height: 100%;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  width: 100%;
  height: 100%;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.text-center {
  text-align: center !important;
}
