@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face {
  font-family: 'Beyond';
  src: url('../../../assets/fonts/beyond_the_mountains.otf') format('truetype'),
    url('../../../assets/fonts/beyond_the_mountains.otf') format('opentype');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../../../assets/fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.eot')
      format('embedded-opentype'),
    url('../../../assets/fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2')
      format('woff2'),
    url('../../../assets/fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.woff')
      format('woff'),
    url('../../../assets/fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background: #ffffff;
  color: #a5a5a5;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border-style: none;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
}

.container-main {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.no-scroll {
  overflow: hidden;
}

.allow-scroll {
  overflow: auto;
}

.scrollable-nav {
  max-height: 70vh;
  overflow-y: auto;
}

.ml-auto,
.mx-auto {
  margin-left: auto;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justify-content-start {
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

ul {
  list-style: none;
  margin-bottom: 0px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
  color: #929191;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 1px #ffa07f;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

p a:active {
  position: relative;
  color: #ff6347;
}

p a:hover {
  color: #ffffff;
  background: #dc8710bd;
}

p a:hover::after {
  opacity: 0.2;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.body-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  background-image: linear-gradient(135deg, #fab2ff 10%, #1904e5 100%);
}

.home_slider_button {
  display: inline-block;
  height: 53px;
  border-radius: 27px;
  overflow: hidden;
  margin-top: 70px;
}

.text-info-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background: #dad5f0;
  position: relative;
  flex: 1 1 auto;
}

.text-info-main img {
  width: 800px;
  margin-top: -50px;
}

.text-info-main h1,
.text-plus-main h1 {
  font-size: 30px;
  font-weight: 700;
  color: #2d2c2c;
  text-transform: uppercase;
  z-index: 3;
}

.text-plus-main {
  padding-top: 90px;
  padding-bottom: 116px;
  background: linear-gradient(to right, #fa9e1b, #8d4fff);
}

.cta_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/images/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.27;
}

.main_plus_container {
  width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row-plus {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-plus {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 1140px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.owl-plus {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-plus.owl-drag .cta_item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cta_item {
  padding-top: 60px;
  padding-bottom: 50px;
  padding-left: 70px;
  padding-right: 70px;
  background: #ffffff;
  -webkit-transform: translate3d(0, 0, 0);
}

.cta_title {
  font-size: 30px;
  font-weight: 700;
  color: #2d2c2c;
}

.cta_text {
  font-weight: 600;
  line-height: 2.29;
  margin-top: 14px;
  margin-bottom: 0px;
}

.cta_button {
  display: inline-block;
  height: 53px;
  border-radius: 27px;
  overflow: hidden;
  margin-top: 38px;
}

.cta_button a {
  display: block;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 53px;
  padding-left: 46px;
  padding-right: 46px;
  white-space: nowrap;
  z-index: 2;
}

.main_info_container {
  position: absolute;
  width: 800px;
  height: 100%;
  flex: 1 1 auto;
}

.main_info_list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 100%;
}

.main_info_item:nth-child(1) {
  position: absolute;
  top: 80px;
  left: 250px;
}

.main_info_item:nth-child(2) {
  position: absolute;
  top: 360px;
  left: 650px;
}

.main_info_item:nth-child(3) {
  position: absolute;
  top: 260px;
  left: 130px;
}

.main_info_item:nth-child(4) {
  position: absolute;
  top: 172px;
  left: 430px;
}

.main_info_item:nth-child(5) {
  position: absolute;
  top: 245px;
  left: 450px;
}

.main_info_item:nth-child(6) {
  position: absolute;
  top: 180px;
  left: 615px;
}

.main_info_item:nth-child(7) {
  position: absolute;
  top: 160px;
  left: 190px;
}

.main_info_item:nth-child(8) {
  position: absolute;
  top: 310px;
  left: 400px;
}

.main_info_item:nth-child(9) {
  position: absolute;
  top: 390px;
  left: 185px;
}

.main_info_item:nth-child(10) {
  position: absolute;
  top: 90px;
  left: 650px;
}

.main_info_item {
  background-image: url('../../../assets/icons/pin.png');
  background-repeat: no-repeat;
  background-size: 80px;
  width: 200px;
  height: 50px;
  padding-left: 45px;
  padding-top: 25px;
  font-size: 14px;
  font-weight: 700;
  color: #2d2c2c;
  text-transform: uppercase;
}
.cart-total_products {
  display: flex;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(../../../assets/icons/shopping-cart2.png);
  background-size: contain;
}

span.navigator {
  position: relative;
  top: -9px;
  left: 17px;
  background-color: white;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: blueviolet;
  font-size: 15px;
}
span.navigator.none{
  display: none;
}
@media only screen and (max-width: 1000px) {
  .text-info-main img {
    width: 540px;
    margin-top: -40px;
  }

  .text-info-main h1 {
    font-size: 20px;
  }

  .main_info_container {
    width: 540px;
  }

  .main_info_list {
    width: 540px;
  }

  .main_info_item:nth-child(1) {
    position: absolute;
    top: 56px;
    left: 184px;
  }

  .main_info_item:nth-child(2) {
    position: absolute;
    top: 240px;
    left: 440px;
    width: 80px;
  }

  .main_info_item:nth-child(3) {
    position: absolute;
    top: 170px;
    left: 85px;
  }

  .main_info_item:nth-child(4) {
    position: absolute;
    top: 100px;
    left: 286px;
  }

  .main_info_item:nth-child(5) {
    position: absolute;
    top: 160px;
    left: 300px;
  }

  .main_info_item:nth-child(6) {
    position: absolute;
    top: 130px;
    left: 410px;
    width: 100px;
  }

  .main_info_item:nth-child(7) {
    position: absolute;
    top: 106px;
    left: 127px;
  }

  .main_info_item:nth-child(8) {
    position: absolute;
    top: 220px;
    left: 270px;
  }

  .main_info_item:nth-child(9) {
    position: absolute;
    top: 240px;
    left: 130px;
  }

  .main_info_item:nth-child(10) {
    position: absolute;
    top: 50px;
    left: 420px;
    width: 90px;
  }

  .main_info_item {
    background-size: 50px;
    width: 150px;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 10px;
  }

  .main_nav_cart {
    position: absolute;
    right: 60px;
    top: 12px;
  }
}

@media only screen and (max-width: 991px) {
  .home_slider_button {
    margin-top: 58px;
  }
}

@media only screen and (max-width: 560px) {
  .text-info-main img {
    width: 300px;
    min-height: 170px;
    margin-top: -20px;
  }

  .text-info-main h1 {
    font-size: 16px;
  }

  .main_info_container {
    width: 300px;
  }

  .main_info_list {
    width: 300px;
  }

  .main_info_item:nth-child(1) {
    position: absolute;
    top: 40px;
    left: 95px;
  }

  .main_info_item:nth-child(2) {
    position: absolute;
    top: 140px;
    left: 240px;
    width: 60px;
  }

  .main_info_item:nth-child(3) {
    position: absolute;
    top: 109px;
    left: 45px;
  }

  .main_info_item:nth-child(4) {
    position: absolute;
    top: 75px;
    left: 160px;
  }

  .main_info_item:nth-child(5) {
    position: absolute;
    top: 105px;
    left: 160px;
  }

  .main_info_item:nth-child(6) {
    position: absolute;
    top: 80px;
    left: 230px;
    width: 60px;
  }

  .main_info_item:nth-child(7) {
    position: absolute;
    top: 75px;
    left: 65px;
  }

  .main_info_item:nth-child(8) {
    position: absolute;
    top: 140px;
    left: 150px;
  }

  .main_info_item:nth-child(9) {
    position: absolute;
    top: 144px;
    left: 72px;
  }

  .main_info_item:nth-child(10) {
    position: absolute;
    top: 50px;
    left: 230px;
    width: 70px;
  }

  .main_info_item {
    background-size: 30px;
    width: 100px;
    padding-left: 20px;
    padding-top: 8px;
    font-size: 7px;
  }
}

@media only screen and (max-width: 575px) {
  .home_slider_button {
    margin-top: 45px;
    height: 44px;
    border-radius: 22px;
  }
}

.button_bcg {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
  z-index: -1;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.button:hover .button_bcg {
  left: -100%;
}

.home_slider_button a {
  display: block;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 53px;
  padding-left: 46px;
  padding-right: 46px;
  white-space: nowrap;
  z-index: 2;
}

@media only screen and (max-width: 575px) {
  .home_slider_button a {
    line-height: 44px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

.button span {
  display: inline-block;
  vertical-align: middle;
  width: 5.75px;
  height: 5.63px;
  background: #ffffff;
  border-radius: 50%;
  margin-right: 2px;
}

.button span:first-child {
  margin-left: 10px;
}

.button span:nth-child(2) {
  opacity: 0.6;
}

.button span:last-child {
  opacity: 0.4;
  margin-right: 0px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-insta:before {
  content: '\f16d';
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: '\f09a';
}

.fa-telegram:before {
  content: '\f2c6';
}

.fa-linkedin:before {
  content: '\f0e1';
}

.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(54, 19, 84, 0.6);
  z-index: 12;
}

.header.scrolled {
  background: rgba(54, 19, 84, 0.85);
}

.top_bar {
  width: 100%;
  height: 36px;
  background: #350a4e;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.header.scrolled .top_bar {
  visibility: hidden;
  opacity: 0;
  height: 0px;
}

.phone {
  display: inline-block;
  margin-right: 36px;
  line-height: 36px;
  font-size: 10px;
  font-weight: 600;
  color: #ffffff;
}

.social_list_item {
  position: relative;
  display: inline-block;
  margin-right: 3px;
}

.social_list_item:last-child {
  margin-right: 0px;
}

.social_list_item a {
  display: block;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 36px;
}

.social_list_item:hover a i {
  color: #fa9e1c;
}

.social_list_item a i {
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social_list_item a:hover {
  color: #ffffff;
}

.user_box_link {
  display: inline-block;
}

.user_box_link a {
  display: block;
  font-size: 10px;
  line-height: 36px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 10px;
}

.user_box_link a:hover {
  color: #fa9e1c;
}

.user_box_login,
.user_box_logout {
  margin-right: 15px;
}

.user_box_login::after,
.user_box_logout::after {
  display: block;
  position: absolute;
  top: 14px;
  right: -16px;
  background: #ffffff;
  width: 2px;
  height: 9px;
  content: '';
}

.main_nav_col {
  height: 80px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.header.scrolled .main_nav_col {
  height: 100px;
}

.logo_container {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}

.logo a {
  display: flex;
}

.logo_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #f4f4f8;
  font-weight: 800;
  text-transform: uppercase;
}

.logo a img {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 9px;
  width: 80px;
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}

.main_nav_container {
  margin-right: 151px;
  margin-left: auto;
}

.main_nav_item {
  position: relative;
  display: inline-block;
  margin-right: 40px;
}

.main_nav_item:last-child {
  margin-right: 0px;
}

.main_nav_item a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 10px;
}

.main_nav_item::after {
  display: block;
  position: absolute;
  left: -1px;
  bottom: -11px;
  width: calc(100% + 2px);
  height: 2px;
  background: linear-gradient(to right, #fa9e1b, #8d4fff);
  content: '';
  opacity: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.main_nav_item:hover::after {
  opacity: 1;
}

.home {
  width: 100%;
  height: 550px;
}

.home_slider_container {
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #31124b;
}

.home_slider {
  width: 100%;
  height: 100%;
}

.home_slider_item {
  width: 100%;
  height: 100%;
}

.home_slider_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.5;
}

.home_slider_content {
  margin-top: 100px;
  z-index: 11;
}

.home_slider_content h1 {
  margin-bottom: 0px;
}

.home_slider_content h1:first-child {
  font-size: 112px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}

@media only screen and (max-width: 991px) {
  .home_slider_content h1:first-child {
    font-size: 72px;
  }
}

@media only screen and (max-width: 575px) {
  .home_slider_content h1:first-child {
    font-size: 48px;
  }
}

.home_slider_content h1:nth-child(2) {
  font-family: 'Beyond';
  font-size: 100px;
  color: #ffffff;
  margin-top: -34px;
}

@media only screen and (max-width: 991px) {
  .home_slider_content h1:nth-child(2) {
    font-size: 60px;
    margin-top: -18px;
  }
  .home {
    width: 100%;
    height: 380px;
  }
  .home_slider_content {
    margin-top: 50px;
    z-index: 11;
  }
}

@media only screen and (max-width: 575px) {
  .home_slider_content h1:nth-child(2) {
    font-size: 43px;
    margin-top: -12px;
  }
  .home {
    width: 100%;
    height: 290px;
  }
}

.flipInX {
  animation-delay: 600ms;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  width: 100%;
  height: 100%;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  width: 100%;
  height: 100%;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.text-center {
  text-align: center !important;
}

.burger_menu {
  display: none;
}

.background {
  display: none;
}

.footer {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 40px;
  background: #31124b;
}

.container-footer {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-4 {
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 34%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.footer_title {
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.logo a {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #f4f4f8;
  font-weight: 800;
  text-transform: uppercase;
}

.footer_about {
  padding-top: 40px;
}
.footer_logo {
  position: absolute;
  left: 0;
  top: -15px;
}

.footer_about_text {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.footer_social_item {
  display: inline-block;
  width: 31px;
  height: 31px;
  border: solid 1px #fa9e1b;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  margin-right: 9px;
}
.footer_social_item:last-child {
  margin-right: 0px;
}
.footer_social_item a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.footer_social_item a i {
  display: block;
  position: relative;
  color: #ffffff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 12px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.footer_social_item a i::before {
  transition: all 200ms ease;
}
.footer_social_item:hover {
  background: #fa9e1b;
}
.footer_social_item i::before {
  color: #ffffff;
}
.footer_social_item:hover a i::before {
  color: #31124b;
}

.footer_blog {
  display: flex;
  flex-direction: column;
  margin-top: 39px;
}
.footer_blog_item {
  margin-bottom: 21px;
}
.footer_blog_item:last-child {
  margin-bottom: 0px;
}
.footer_blog_image {
  width: 60px;
  height: 60px;
  float: left;
  overflow: hidden;
}
.footer_blog_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer_blog_content {
  padding-left: 81px;
}
.footer_blog_title {
  margin-top: -4px;
  padding-left: 1px;
}
.footer_blog_title a {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.footer_blog_title a:hover {
  color: #fa9e1b;
}
.footer_blog_date {
  font-size: 12px;
  font-weight: 400;
  color: #fa9e1b;
  margin-top: 7px;
}

.contact_info_list {
  margin-top: 40px;
}
.contact_info_item {
  margin-bottom: 22px;
}
.contact_info_icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.contact_info_icon img {
  display: block;
  width: 100%;
}
.contact_info_text,
.contact_info_text a {
  color: #ffffff;
  line-height: 2.14;
  margin-top: -4px;
}
.contact_info_item:hover .contact_info_text,
.contact_info_item:hover .contact_info_text a {
  color: #fa9e1b;
}

.discount-container {
  position: relative;
  background: linear-gradient(to right, #ebab71, #dad5f0, #879bdd);
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  min-height: 300px;
}

.blur-border-div::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: inherit;
  filter: blur(6px);
  z-index: 1;
}

.discount-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  z-index: 99;
}

.discount-img img {
  max-width: 76%;
  height: auto;
}

#discount-slider {
  width: 90%;
  padding: 20px;
  margin: auto;
  line-height: 2;
}

.discount-code {
  font-family: 'Beyond' !important;
  font-size: 35px;
  color: #604b98;
}

.discount-desc {
  font-size: 18px;
}

.swiper-wrapper {
  margin-bottom: 20px;
}

.discount-item-slide {
  text-align: center;
  font-size: 18px;
}

@media only screen and (max-width: 450px) {
  .discount-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1200px) {
  .container-footer,
  .container-main,
  .main_plus_container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 1000px) {
  .container-footer,
  .container-main,
  .main_plus_container {
    max-width: 720px;
  }
  .row {
    flex-direction: column;
  }

  .footer_content.footer_blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer_blog_item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_blog_content {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    align-items: center;
    margin-top: 20px;
  }
  .footer_blog_image {
    width: 70px;
    height: 70px;
  }

  .container-footer .logo_text {
    display: block;
  }
  .col-lg-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer_column {
    margin-bottom: 60px;
  }
  .footer_column:last-child {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 770px) {
  .container-footer,
  .container-main,
  .main_plus_container {
    width: 95%;
  }
  .cta_item {
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 55px;
    padding-right: 55px;
  }
  .cta_title {
    font-size: 24px;
  }
  p {
    font-size: 13px;
  }
  .cta_button a {
    line-height: 44px;
    padding-left: 36px;
    padding-right: 36px;
  }
  .cta_button {
    height: 44px;
    border-radius: 22px;
  }
}

@keyframes verticalSwing {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  25% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    animation-timing-function: ease-in;
    opacity: 0.2;
  }

  50% {
    transform: perspective(400px) rotate3d(1, 0, 0, -7deg);
    animation-timing-function: ease-in;
    opacity: 0.5;
  }

  75% {
    transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    animation-timing-function: ease-in;
    opacity: 0.8;
  }

  100% {
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
    opacity: 1;
  }
}

.home_slider_content_inner {
  animation: verticalSwing 1s ease-in-out;
  transform-origin: center center;
}

@media (max-width: 1000px) {
  .header,
  .header.scrolled {
    background: none;
  }

  .body-container {
    position: relative;
  }

  .header.show {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
  }

  .top_bar {
    background: rgba(54, 19, 84, 0.82);
    height: 44px;
  }

  .top_bar.show {
    background: none;
  }

  .user_box {
    margin: 0;
    padding-left: 90px;
    z-index: 1;
  }

  .user_box_link a {
    font-size: 12px;
  }

  .phone,
  .social {
    display: none;
  }

  .col {
    position: relative;
    padding-top: 5px;
  }

  .logo_container {
    margin-bottom: -40px;
    z-index: 2;
  }

  .burger_menu {
    display: block;
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
    z-index: 15;
  }

  .main_nav {
    position: absolute;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
  }

  .logo a img {
    width: 65px;
    height: 30px;
  }

  .main_nav_container {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px 0 0;
    margin: 0 auto;
  }

  .main_nav_container.show {
    display: flex;
  }

  .burger_icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .burger_icon.cross .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 7px);
  }

  .burger_icon.cross .bar:nth-child(2) {
    opacity: 0;
  }

  .burger_icon.cross .bar:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -7px);
  }

  .bar {
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background: #fff;
    transition: background 0.3s ease;
  }

  .main_nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 400px 0 50px 0;
    margin: 0;
  }

  .main_nav_item {
    margin: 10px 0 10px 0;
  }

  .main_nav_item a {
    font-size: 36px;
    font-family: 'Beyond';
    text-transform: lowercase;
  }

  .main_nav_item::after {
    display: block;
    position: absolute;
    left: -30px;
    bottom: 30%;
    width: calc(100% + 14px);
    height: 4px;
    background: #ffffff;
    border-radius: 5px;
    content: '';
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    z-index: -1;
  }

  .main_nav_item:hover::after {
    width: calc(100%+14px);
    left: -8px;
    opacity: 1;
  }

  .main_nav_item:last-child {
    margin-bottom: 0;
  }

  .logo_text {
    display: none;
  }

  .header.scrolled .top_bar {
    visibility: visible;
    opacity: 1;
    height: 44px;
  }

  .header.scrolled .main_nav_col {
    height: 80px;
  }

  .background.show {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    width: 100%;
    height: 100%;
    z-index: 11;
  }
}
