.form-box {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-content h3 {
  color: #ff1552;
  font-size: 60px;
  text-align: center;
}

.form-content p {
  color: #000;
  text-align: center;
}

.form-content p a {
  color: #ff1552;
}

.form-login input[type='text'],
.form-login input[type='password'] {
  display: block;
  margin-bottom: 3px;
  border: 1px solid black;
  outline: none;
  width: 100%;
  min-width: 300px;
  border-radius: 5px;
  border-bottom: 2px solid black;
  padding: 15px 5px 15px 10px;
}

.form-login input[type='submit'] {
  border-radius: 10px;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  background: #0016df;
}

.form-login input[type='submit']:hover {
  cursor: pointer;
}

.form-login div {
  margin: 0;
  margin-bottom: 3px;
}

.form-login div input {
  margin-bottom: 3px;
}

.form-login div label {
  display: block;
  padding-bottom: 5px;
}

.form-login div div {
  position: relative;
}

.form-login div div span {
  position: absolute;
  font-size: 20px;
  top: 12px;
  left: 10px;
  transition: all 1s;
  color: rgba(0, 0, 0, 0.5);
}

.form-login div div span.active-focus {
  font-size: 12px;
  top: 0px;
  transition: all 1s;
}

.form-login .img-password {
  cursor: pointer;
  width: 15px;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  right: 20px;
  top: 16px;
}

.form-login div.visible .error-message {
  font-size: 14px;
  height: 33px;
  color: transparent;
  text-align: center;
  padding: 0;
  margin: 0;
  max-width: 275px;
  word-wrap: break-word;
  color: #000;
  margin: 0 auto;
}

div.visible .error-message {
  color: #000;
  text-align: center;
}

.form-login input.invalid {
  border-bottom: red 4px solid;
}

.form-login input.valid {
  border-bottom: green 4px solid;
}

div.visible.invalidText .error-message {
  color: red;
  width: 300px;
}

.form-login input.active {
  margin-bottom: 5px;
}

@media (max-width: 480px) {
  .form-box {
    width: 100%;
  }

  .form-box .form-container {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .form-box .form-container {
    width: 100%;
    padding: 25px 5px;
  }

  .form-box .form-login input[type='text'],
  .form-box .form-login input[type='password'],
  .form-box .form-login input[type='password'] {
    min-width: 270px;
  }
}
