.box-form {
  margin: 0 auto;
  width: 80%;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 20px 6px #090b6f85;
}

@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}

@media (max-width: 460px) {
  .box-form {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .box-form {
    width: 99%;
  }
}

.box-form div {
  height: auto;
}

.box-form .left {
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg');
  overflow: hidden;
}

.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: #5961f9ad;
  overflow: hidden;
  box-sizing: border-box;
}

.box-form .left .overlay h1 {
  font-size: 10vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}

.box-form .left .overlay span p {
  margin-top: 30px;
  font-weight: 900;
}

.box-form .left .overlay span a {
  background: #3b5998;
  color: #ffffff;
  margin-top: 10px;
  padding: 14px 50px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px #042d4657;
}

.box-form .left .overlay span a:last-child {
  background: #1dcaff;
  margin-left: 30px;
}

.box-form .right {
  padding: 40px;
  overflow: hidden;
}

@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
  }
}

.box-form .right h5 {
  font-size: 5vmax;
  line-height: 0;
}

.box-form .right p {
  font-size: 14px;
  color: #b0b3b9;
}

.box-form .right .inputs {
  overflow: hidden;
}

.box-form .right input {
  width: 100%;
  padding: 20px 5px 5px 5px;
  margin-bottom: 5px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
}

.box-form .right input:hover {
  cursor: pointer;
}

.box-form .right input:focus:not(:placeholder-shown) {
  cursor: text;
}

.box-form .right .inputs .login-container,
.box-form .right .inputs .password-container {
  position: relative;
}

.login-container span,
.password-container span {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.login-container span:hover,
.password-container span:hover {
  cursor: pointer;
}

.login-container span.active-focus,
.password-container span.active-focus {
  font-size: 12px;
  color: rgb(0, 0, 0);
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
}

.form-login p.error-message {
  max-width: 250px;
  height: 33px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 5px;
  color: transparent;
  font-size: 16px;
  text-align: center;
  word-wrap: break-word;
}

.form-login div.visible .error-message {
  color: #000;
}

.login-container input.invalid,
.password-container input.invalid {
  border-bottom: red 4px solid;
}

.login-container input.valid,
.password-container input.valid {
  border-bottom: green 4px solid;
}

div.visible.invalidText .error-message {
  color: red;
}

.password-container img {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.box-form .right .submit-btn {
  border-radius: 10px;
  width: 100%;
  padding: 0;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  transition: all 2s;
}

.box-form .right .submit-btn:hover {
  cursor: pointer;
  background: linear-gradient(135deg, #9b59b6, #71b7e6);
}
