.box-content-404 {
  padding: 170px 10px 40px 10px;
  display: flex;
}

.picture-404 {
  padding: 0 15px;
}

.picture-404 img {
  width: 310px;
  height: 310px;
}

.col-404 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-404 {
  flex-direction: column;
  position: relative;
}

.title-404 {
  font-family: 'Beyond';
  font-size: 100px;
  color: #ffffff;
  margin: 0;
}

.text-404 {
  color: #ffffff;
  text-align: center;
}

@media (max-width: 900px) {
  .box-content-404 {
    flex-direction: column-reverse;
  }
  .second-404 {
    justify-content: right;
  }
  .text-404 {
    font-size: 20px;
  }
  .picture-404 img {
    width: 250px;
    height: 260px;
  }
  .title-404 {
    position: absolute;
    left: 100px;
    top: -200px;
  }
}

@media (max-width: 700px) {
  .second-404 {
    justify-content: right;
  }
}

@media (max-width: 550px) {
  .box-content-404 {
    padding: 170px 0px 40px 0px;
    display: flex;
  }
  .second-404 {
    justify-content: right;
  }
  .picture-404 img {
    width: 200px;
    height: 210px;
  }
  .picture-404 {
    padding: 0;
  }
  .title-404 {
    font-size: 70px;
    left: 50px;
    top: -170px;
  }
}

@media (max-width: 370px) {
  .title-404 {
    font-size: 70px;
    left: 10px;
    top: -170px;
  }
}
